{% extends 'myapp/base.html' %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <h2 class="blog">Post一覧</h2>
    <div class="table-responsive">
      <table class="table mb-3">
        <thead>
          <tr>
            <th width="250px">タイトル</th>
            <th width="100px">投稿者</th>
            <th width="400px">内容</th>
            <th width="200px">作成日時 / 更新日時</th>
          </tr>
        </thead>
        <tbody>
          {% for item in post_list %}
          <tr>
            <td>
              <a
                href="{% url 'myapp:post_detail' item.pk %}"
                class="font-weight-bold"
              >
                {{ item.title }}
              </a>
            </td>
            <td>   
              {{ item.author }}
            </td>
            <td>
              {{ item.content |striptags| truncatechars:50 }}
            </td>
            <td>{{ item.created_at | date:"Y-m-j H:i:s" }}/<br>{{ item.updated_at | date:"Y-m-j H:i:s" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'myapp/pagination.html' %}
  </div>
</div>
{% endblock %}
